.navbarcustomstyle {
     height: 50px !important;
     color: #962d2d !important;
     max-width: 1200px !important;
}

.titleName {
     padding-right: 20px;
}

.owlHeadLogo {
     width: 65px !important;
     height: 65px !important;
     margin-right: 15px;
     margin-top: -8px;
     border-style: solid !important;
     border-width: 5px !important;
     border-color: #961f1f !important;
}

.searchBarNav {
     margin-left: 65px !important;
}

.registerBtn {
     background: #961f1f !important;
}

.registerBtnText {
     color: white;
}