.checkboxContainer{
    text-align: left;
    border: 1px solid;
    margin: 3px;
    overflow-y: scroll;
    max-height: 150px;
}

.checkbox {
    padding-top: 10%;
}

.row {
    padding-top: 10%;
}
